<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.3/phpunit.xsd"
>
	<testsuites>
		<testsuite name="admin.languagedepot.org API Test Suite">
			<directory>tests/api</directory>
		</testsuite>
		<testsuite name="admin.languagedepot.org Unit Test Suite">
			<directory>tests/php</directory>
		</testsuite>
	</testsuites>
</phpunit>
